.cardLink {
    width: 350px;
    height: 4rem;
    border-radius: 1rem;
    background-color: white;
    background-color: #6246ea;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cardLink p {
    word-break: break-all;
    font-weight: 600;
    text-align: center;
    color: white;
    padding: 0 20px 0 20px;
    user-select: none;
}
